In [9]:
import pandas as pd

In [15]:
filepath = "../data/2021_NCVR_Panse_001/dataset_ncvr_dirty.csv"
col_names = "sourceID,globalID,localID,FIRSTNAME,MIDDLENAME,LASTNAME,YEAROFBIRTH,PLACEOFBIRTH,COUNTRY,CITY,PLZ,STREET,GENDER,ETHNIC,RACE".split(",")
df = pd.read_csv(filepath, names=col_names)
df.shape[0]

200000

In [14]:
[a.size for a in [y for x, y in df.groupby("sourceID")]]

[1500000, 1500000]

In [6]:
df.sample(10, random_state=1)

,sourceID,globalID,localID,FIRSTNAME,MIDDLENAME,LASTNAME,YEAROFBIRTH,PLACEOFBIRTH,COUNTRY,CITY,PLZ,STREET,GENDER,ETHNIC,RACE
49673,A,BD57498,37814ce4a1189245a39d5f5beb0631d3,PETER,JOHN,ZEMAN,1959,WI,CRAVEN,HAVELOCK,28532.0,LEMONWOOD,M,NL,W
171551,B,BL408951,66ea4a16aed552590b7e0ff414530e0f,TONYA,NaN,KEWIS,1968,NC,DURHAM,DURHAM,27701.0,COMMERCE,F,UN,B
5506,A,DB228188,539f41e5bca75b30832ef5740b4c55c6,JUKERA,DANNIALE,WHITEHEAD,1989,NaN,NEW HANOVER,WILMINGTON,28401.0,5TH,F,UN,B
38370,A,AW42000,f87ffce6c786e02d92b77663a0374a07,DANIEL,W,WINGATE,1938,NaN,CATAWBA,HICKORY,28602.0,ROUTE 1,M,NL,W
36930,A,DD102995,e3a0fd4c2453e4fe9fd7c85e859a6b56,LASHAUNDA,VERNEIDA,WASHINGTON,1972,IL,ONSLOW,JACKSONVILLE,28540.0,GRIER,F,NL,B
167783,B,BY240834,43bc7200aaa0335748d7504664cc8792,SHERLINE,MCALLISTER,MILTON,1962,NC,GUILFORD,GREENSBORO,27407.0,BEECHCROFT,F,NL,B
67487,A,CW435035,407e792deb478c98f8d7a747dc565a64,RUSSELL,JOHN,MARGOSIAN,1950,NY,MECKLENBURG,CHARLOTTE,28203.0,WORTHINGTON,M,NL,W
101486,B,DB280979,3f507c4822cdf6e7f5205f838371f1ff,KELLY,LYNN,RING,1996,NC,NEW HANOVER,WILMINGTON,28403.0,ACADEMY COVE,F,UN,W
131774,B,BY548274,eadc1ea3e91cf9d6f50c3b257059632d,TIFFANY,MICHELLE,BLANTON,1990,NC,GUILFORD,GREENSBORO,27412.0,MOORE/STRONG HALL,F,NL,W
48246,A,BE65957,a7ed67aeb0086c2924f5f5cb4e8254af,MATTIE,U,MURPHY,1900,NaN,CUMBERLAND,FAYETTEVILLE,28304.0,MEMORY,F,NL,B

In [24]:
df1, df2 = [x for _, x in df.groupby("sourceID")]

In [25]:
df2

,sourceID,globalID,localID,FIRSTNAME,MIDDLENAME,LASTNAME,YEAROFBIRTH,PLACEOFBIRTH,COUNTRY,CITY,PLZ,STREET,GENDER,ETHNIC,RACE
100000,B,DN6037,258144449a5a3db495b585e5cb7a2fbe,JACK,RAY,COOK,1929,NC,RANDOLPH,ASHEBORO,27203.0,SUNRISE,M,NL,W
100001,B,EH845641,7cb8a6d67acd74952620de051ec1daf8,JAMES,PATRICK,COMAN,1935,NY,WAKE,MORRISVILLE,27560.0,KUDROW,M,NL,W
100002,B,CW991721,ae9cb11d5c894eca246ce45ff4f41ad1,DANIELLE,NaN,TAYLOR,1978,NaN,MECKLENBURG,CHARLOTTE,28205.0,35TH,F,NL,W
100003,B,EH649973,64a57913dee8142fdd9cab3b9f5a5adf,JAMIE,L,MORINA,1979,FL,WAKE,RALEIGH,27613.0,TIE STONE,F,NL,W
100004,B,EL19794,55554181b25a30e1b9d19bb8ba585108,ROGER,EVERETTE,NEWTON,1951,NaN,WATAUGA,BOONE,28607.0,KING,M,NL,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,B,AN131900,1309fbee41290e277d04c9625cdd7d42,MARK,EDWARD,LANE,1961,NaN,ROWAN,SALISBURY,28147.0,RANDOM,M,NL,W
199996,B,EH114155,682a4105560c8eec598da7d875ce7990,RUSSELL,THOMAS,GOLDNER,1961,WV,LINCOLN,MAIDEN,28650.0,ANDERSON MOUNTAIN,M,NL,W
199997,B,EM28896,aff6aa9b61c3cf92fa0505864cadb63d,JASPER,GLENN,SASSER,1942,NC,JOHNSTON,PRINCETON,27569.0,BLACK WATER,M,NL,W
199998,B,BN411997,07845b044180992d29fb22e019f58d6f,DEBORAH,LOUISE,JONES,1970,LA,FORSYTH,WALKERTOWN,27051.0,LA CREST,F,NL,W
199999,B,BA7072,f347913eb5583ab05fb9bde155f4bb34,HOWARD,L,SCROGGS,1933,NC,CLAY,HAYESVILLE,28904.0,CARTER COVE,M,NL,W

In [55]:
intersect = pd.merge(df1, df2, how="inner_left", on=["globalID"])
intersect

KeyError: 'inner_left'

In [45]:
df1[df1["globalID"].isin(df2["globalID"])]

,sourceID,globalID,localID,FIRSTNAME,MIDDLENAME,LASTNAME,YEAROFBIRTH,PLACEOFBIRTH,COUNTRY,CITY,PLZ,STREET,GENDER,ETHNIC,RACE
80000,A,AL82294,202338d686d641a11c6bae62644bd51e,LISA,F,BALDWIN,1966,NaN,BUNCOMBE,BLACK MOUNTAIN,28711.0,GENESIS,F,NL,W
80001,A,BL352807,18471fd8e38e1ab6bd8d1545c368faa3,AHRMAD,RASHAD,GRIFFIN,1976,NaN,DURHAM,DURHAM,27703.0,HOLLOWAY,M,UN,B
80002,A,EA43706,180c3dfaab0583c4b23f137d48ab68ba,WHITNEY,MARIE,RAMER,1990,NC,STOKES,WALNUT COVE,27052.0,PINK SMITH,F,NL,W
80003,A,DT90164,58184c1d0360abfee773cc12a6ea76d4,WILLIAM,MARK,KING,1966,NaN,ROWAN,SALISBURY,28147.0,GODBEY,M,NL,W
80004,A,EH460595,eca1f5379f5282c6a63ee6adcacdacf2,MICHAEL,J,MARCHI,1963,CA,WAKE,WAKE FOREST,27587.0,WAKEFALLS,M,NL,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,A,AN131900,5e1fd8d90515d82f85724c893db7781b,MARK,EDWARD,LANE,1961,CT,CABARRUS,CONCORD,28025.0,CROSSROADS,M,NL,W
99996,A,EH114155,1efbe3b2772db4e8f32d2b0161d32c0d,RUSSELL,T,GOLDNER,1961,WV,WAKE,RALEIGH,27606.0,HUNTERS CLUB,M,NL,W
99997,A,EM28896,de30a5506ecb422cc08e16d02b36bcf0,JASPER,GLENN,SASSER,1942,NaN,WAYNE,GOLDSBORO,27530.0,FRIENDLY,M,NL,W
99998,A,BN411997,d196b80860c62066eadaa21088856af5,DEBORAH,LOUSIE,BARKER,1970,LA,FORSYTH,KERNERSVILLE,27284.0,STEPHENSHIRE,F,NL,W
99999,A,BA7072,1403d5486018207944818e0e9f919b50,HOWARD,L.,SCROGGS,1933,NC,CLAY,HAYESVILLE,28904.0,CARTER COVE,M,NL,W

In [48]:
df1[~df1["globalID"].isin(df2["globalID"])]

,sourceID,globalID,localID,FIRSTNAME,MIDDLENAME,LASTNAME,YEAROFBIRTH,PLACEOFBIRTH,COUNTRY,CITY,PLZ,STREET,GENDER,ETHNIC,RACE
0,A,AM28693,1fdc308dcc35344c6d5c20845fad641d,SUE,BARNES,SHUFFLER,1946,NaN,BURKE,VALDESE,28690.0,LAKEVIEW ACRES,F,NL,W
1,A,CZ67291,b36b8c16c743ed415c6a7f3fc1a3b859,RONALD,EUGENE,LATTIMER,1953,OH,MOORE,PINEHURST,28374.0,BURNING TREE,M,NL,W
2,A,BN204837,401b7f6f5e107dbb009da197a2b05d9e,DEIDRE,MARLANA,MARTIN,1973,NC,FORSYTH,WINSTON SALEM,27105.0,CARVER GLEN,F,NL,B
3,A,EH737737,85f059d91b803b5835a8b9762a3170cb,KURT,NaN,BALEN,1968,PA,WAKE,APEX,27502.0,ASHLEY DOWNS,M,NL,W
4,A,DT41462,f70a42ce915731cabafc5daa1bfbceeb,WORTH,BROWN,FOUTZ,1919,NaN,ROWAN,SALISBURY,28146.0,MORRISON,M,NL,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,A,EF115691,629bee6ae17cb98174c302f478bebbcb,TOMMY,JOE,LONG,1934,NC,UNION,INDIAN TRAIL,28079.0,CRANSTON CROSSING,M,NL,W
79996,A,AF22605,e2af730ae882a416f6a05bdd3ad56112,SARAH,LYNNE,CALHOUN,1960,NY,AVERY,NEWLAND,28657.0,TRICE FORK MOUNTAIN,F,NL,W
79997,A,BY266243,0b5bf686cd0e1139fd8b4835e113aaa2,BRIAN,C,HOWELL,1977,NC,GUILFORD,BROWNS SUMMIT,27214.0,FARM GATE,M,NL,B
79998,A,EH129947,95f8818192eb248b987f1f3782968819,RONALD,E,DAVIS,1960,HI,WAKE,CARY,27511.0,AMBLEWOOD,M,NL,W
79999,A,AK18141,d287d13dd7db88ed4bb54564e4d14b88,TERESA,NaN,PARKER,1954,NC,BRUNSWICK,LELAND,28451.0,UNKNOWN,F,NL,W

In [2]:
from subset_generator import SubsetGenerator

col_names = "sourceID,globalID,localID,FIRSTNAME,MIDDLENAME,LASTNAME,YEAROFBIRTH,PLACEOFBIRTH,COUNTRY,CITY,PLZ,STREET,GENDER,ETHNIC,RACE".split(",")
sg = SubsetGenerator("../data/2021_NCVR_Panse_001/dataset_ncvr_dirty.csv", col_names)

In [3]:
sample = sg.random_sample(size=10, seed=1, overlap=0.2)
sample

,sourceID,globalID,localID,FIRSTNAME,MIDDLENAME,LASTNAME,YEAROFBIRTH,PLACEOFBIRTH,COUNTRY,CITY,PLZ,STREET,GENDER,ETHNIC,RACE
91456,A,AL91901,cfe9cd64119483bfb8d66198b8337d5e,KIM,HENSLEY,OWENBY,1967,NaN,BUNCOMBE,LEICESTER,28748.0,BEAR CREEK,F,NL,W
96528,A,BE8408,5ea7a8d4fc230cfaa77ef38f19febe45,WILLIAM,J,BURNS,1926,NC,CUMBERLAND,FAYETTEVILLE,28301.0,SEABROOK,M,NL,B
7126,A,AP34802,130ba9747a28da93ff68429752a73d04,LEAH,ANN,WINKLER,1964,NC,CALDWELL,GRANITE FALLS,28630.0,BATON SCHOOL,F,NL,W
46624,A,BY321931,1b7f2624cb1321810459af3bca780708,SUZANNE,THOMPSON,SAUNDERS,1970,VA,GUILFORD,GREENSBORO,27407.0,BULL RUN,F,NL,W
67020,A,DY4763,555faa58778e71be4333f58607f0fa3c,EILEEN,JAMERSON,GRAHAM,1935,NaN,SCOTLAND,LAURINBURG,28352.0,HIGHLAND,F,NL,W
67356,A,BR33027,90aceaee751f4f01e13b94a651915bbc,ALAN,GRANT,SUDDRETH,1957,NC,GASTON,MOUNT HOLLY,28120.0,LOWLAND DAIRY,M,NL,W
61688,A,DA58658,6f6babe19be06b9b66e255edf3b30d56,MARY,ELLEN DONOVA,WILLIAMS,1947,NaN,NASH,ROCKY MOUNT,27804.0,COLONY,F,NL,W
45869,A,EP34440,25fd74463cb8c683c23f1e2ecbc47947,EZELLA,FERRELL,WHITEHEAD,1938,NC,WILSON,WILSON,27893.0,HOLLY,F,NL,W
42565,A,BE120097,21400f5080bc4c2c1e8ca989acef241a,SHANNON,RENEE,GRAHAM,1977,NC,CUMBERLAND,HOPE MILLS,28348.0,MIRANDA,F,NL,W
45818,A,BL205560,eaafa25cbd1e5b043f6775d868c1e9e9,LISA,JUDITH,FAIL,1965,FL,DURHAM,DURHAM,27707.0,SYCAMORE,F,NL,W
191456,B,AL91901,acccb3260af398a72a930b79804cbca9,KIM,HENSLEY,OWENBY,1967,NC,BUNCOMBE,LEICESTER,28748.0,NORTHWEST,F,UN,W
196528,B,BE8408,95fc16a456dff4180e638187aad3631e,WILLIAM,NaN,BURNS,1926,NaN,HOKE,RAEFORD,28376.0,HEALTH,M,NL,B
107126,B,CW188692,77dc7bb1fc705203835b80a23ec88994,BETTY,W,ROSENDALL,1929,NaN,MECKLENBURG,CHARLOTTE,28215.0,SHAMROCK,F,NL,W
146624,B,CE13797,63002a249d9a5793b9ce3b058279725d,CASSIE ADAIR,LUNSFORD,SCOTT,1971,NC,HOKE,ABERDEEN,28315.0,RESERVATION,F,NL,W
167020,B,CW497474,b06b4948edbf8b53b5d1b52b5072a47d,MONA,G,PONDER,1977,AL,MECKLENBURG,CHARLOTTE,28211.0,ALDERSHOT,F,NL,W
167356,B,BY364059,ee217a57af2bf9882ba808292e465057,TARA,RACHELLE,OLIVER,1973,NC,GUILFORD,HIGH POINT,27260.0,GRANBY,F,NL,B
161688,B,CG54124,566438ccce6360f3720582e746788261,CLARENCE,LEONARD,POPE,1926,NC,IREDELL,MOORESVILLE,28117.0,POINTS END,M,NL,W
145869,B,DA88259,7e422b446ceff5b3d5655ab3a1df7642,BARBARA,A HARPER,BROOKS,1937,GA,NASH,ROCKY MOUNT,27804.0,COVENANT,F,UN,B
142565,B,DT70575,15d38fc1028356cb71ae096d0fd5281b,AUDREY,B,CARTRETTA,1930,NaN,ROWAN,SALISBURY,28147.0,STEVENS,F,NL,W
145818,B,AA176999,05c2d8465e294a7f70479f0fd2c1c162,TIMOTHY,LYNN,COUNCILMAN,1974,NaN,ALAMANCE,BURLINGTON,27215.0,CHURCH,M,UN,W

In [4]:
sample[sample.sourceID == "A"].globalID.isin(sample[sample.sourceID == "B"].globalID)

91456     True
96528     True
7126     False
46624    False
67020    False
67356    False
61688    False
45869    False
42565    False
45818    False
Name: globalID, dtype: bool

In [8]:
import pandas as pd
pd.merge(sample[sample.sourceID == "A"], sample[sample.sourceID == "B"], how="inner", on="globalID").shape[0]

2

In [45]:
import pandas as pd

In [46]:
filepath = "../data/2021_NCVR_Panse_001/dataset_ncvr_dirty.csv"
col_names = "sourceID,globalID,localID,FIRSTNAME,MIDDLENAME,LASTNAME,YEAROFBIRTH,PLACEOFBIRTH,COUNTRY,CITY,PLZ,STREET,GENDER,ETHNIC,RACE".split(",")
df = pd.read_csv(filepath, names=col_names, dtype={"PLZ": str}, keep_default_na=False)
df.shape[0]

200000

In [16]:
df["PLZ"].map(lambda plz: (type(plz), plz))

0         (<class 'str'>, 28690)
1         (<class 'str'>, 28374)
2         (<class 'str'>, 27105)
3         (<class 'str'>, 27502)
4         (<class 'str'>, 28146)
                   ...
199995    (<class 'str'>, 28147)
199996    (<class 'str'>, 28650)
199997    (<class 'str'>, 27569)
199998    (<class 'str'>, 27051)
199999    (<class 'str'>, 28904)
Name: PLZ, Length: 200000, dtype: object

In [18]:
type(df["PLZ"][36473]), df["PLZ"][36473]

(str, '')

In [25]:
df["PLZ"].map(lambda plz: plz[:2])

0         28
1         28
2         27
3         27
4         28
          ..
199995    28
199996    28
199997    27
199998    27
199999    28
Name: PLZ, Length: 200000, dtype: object

In [56]:
group_values = df["PLZ"].map(lambda plz: plz[:1])
group_values

0         2
1         2
2         2
3         2
4         2
         ..
199995    2
199996    2
199997    2
199998    2
199999    2
Name: PLZ, Length: 200000, dtype: object

In [59]:
groups = df.groupby(group_values)
for key in set(groups.keys):
    print(key, groups.get_group(key).shape)

 (369, 15)
9 (4, 15)
3 (6, 15)
0 (1, 15)
2 (199620, 15)

In [61]:
{key: groups.get_group(key).shape for key in set(groups.keys)}

{'': (369, 15), '9': (4, 15), '3': (6, 15), '0': (1, 15), '2': (199620, 15)}